<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <meta charset="utf-8">
    <title>{% block title %}Загрузка расчета{% endblock %}</title>
    <p id="opener1" style="color:green; margin: 0%">show table</p>
<table class="table table-bordered sortable table-hover" id="mytable">
    <head>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Url</th>
        <th>View All Info</th>
    </tr>
    </head>
    <body>
    {% block content %}
    
    {% for lists in details %}
        <tr>
            <td>{{ lists.id }}</td>
            <td><a href="{{ lists.cover.url }}" target="_blank">{{ lists.cover.url }}</a></td>
            <td>
                <button id="opener">View</button>
            </td>
        </tr>


    {% endfor %}
    
    {% endblock %}
    </body>
</table>
</div>
